.node circle {
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.linkLabel {
  fill: #ffffff;
  stroke: #6aa1ce;
  stroke-width: 1px;
  font-size: 15px;
}
.linkText {
  text-anchor: middle;
  fill: steelblue;
  font: 12px sans-serif;
}

.hidden {
  display: none;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.tree {
  width: 100%;
}
